form{
    background-image: url(/image/200.webp);
    border: 1px solid #0000ff;
    width: 85%;
    height: 40%;
    text-align: center;
    border-radius: 20%;
    font-family: cursive;
    box-shadow:  15px 15px 15px black;
}
body
{
    width: 300px;
    margin-top: 350px;
    margin-left: 800px;
    background-image: url(/image/light-bulb-3104355_1920.jpg);
    background-image: cover;
}

input[type='text'],input[type='password']{
    height: 25%;
    width: 80%;
    border: solid black;
    border-radius: 15%;
    font-size: 150%;
}
input[type='text']:focus,input[type='password']:focus{
 outline: none;
 background-color: rgb(68, 0, 255);  
}
button{
    border: none;
    background-color: chartreuse;
    padding:5px;
    width: 70%;
    margin: 20% 0 15% 0;
    border-radius: 50%;
}
button:hover{
    background-color: antiquewhite;
    cursor: pointer; 
    box-shadow:  15px 15px 15px black;
}