<div class="card card-body" *ngFor='let product of products'>
    <div>
    <img src="{{product.img}}" alt="">
    <h2>{{product.Bike}}</h2>
    <h4>{{product.cost}}</h4>
        <p>{{product.description}}</p>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)='sendProducts(product)'>
        Update
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                            <form #form='ngForm' (ngSubmit)="update(product.id,form.value)">
                                <legend>Add Bike!!</legend>
                            
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" name="Bike" #Bike='ngModel' [(ngModel)]='product.Bike' id="Bike" placeholder="Bike name">
                                </div>
                                <div class="form-group">
                                        <label for="">Cost of Bike</label>
                                        <input type="text" class="form-control" id="" name="cost" #cost='ngModel' [(ngModel)]='product.cost' placeholder="Input field">
                                    </div>
                                    <div class="form-group">
                                            <label for="text">image of Bike</label>
                                            <input type="text" class="form-control" id="" name="img" #img='ngModel' [(ngModel)]='product.img' placeholder="Input field">
                                        </div>
                                    <textarea name="description" #description='ngModel' [(ngModel)]='product.description' id="description" cols="40" rows="10"></textarea>
                                    <button type="submit" class="btn btn-outline-success">Add Product</button>   
                                </form>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
         <button type="button" class="btn btn-danger"> delete</button>
          </div>
        </div>
      </div>
</div>
</div>
</div>
