<div class="container">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark text-white">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>WebSite</th>
                <th>Address</th>
            </tr>
        </thead>    
        <tbody>
            <tr *ngFor='let i of users'>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                <td>{{i.website}}</td>
                <td>{{i.address}}</td>
            </tr>
        </tbody>
    </table>
</div>
