<div class="container">
    <div class="col-md-6 offset-3 mt-5">
        <div class="card card-body">
    <form action=""  >
        <legend>Add Task!!</legend>
    
        <div class="form-group">
            <label for="">Task</label>
            <input type="text" class="form-control" id="" placeholder="enter your task" required>
        </div>

        <button type="submit"  class="btn btn-primary float-right" (click)="sendData(data)">Add</button>
    </form>
</div>
</div>
</div>
<app-viewalltask >this is view all task</app-viewalltask>
<!-- (ngSubmit)='sendData(LoginForm.value)' -->